# Copyright (c) 2026 Rune Ketil Fredriksen and contributors.
# SPDX-License-Identifier: MIT
# The MIT license permits use, copying, distribution, and modification,
# provided that copyright and permission notices are included.
# See LICENSE and NOTICE for details.
# Developed in collaboration with ChatGPT/Codex.

include LICENSE
include NOTICE
include README.md
include INSTALL_ZOPE.md
include CHANGELOG.md
include MAINTAINER_RELEASE.md
recursive-include src/Products/OpenODBCDA/www *.dtml
recursive-include src/Products/OpenODBCDA/tests *.py
